{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["prettier", "javascript-the-good-parts"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "warn",
    "lines-between-class-members": "off",
    "no-unused-vars": "off"
  }
}
